$darkmode: true;
$primary: #ffb4a8;
$onPrimary: #660706;
$primaryContainer: #87211a;
$onPrimaryContainer: #ffdad3;
$secondary: #e7bdb7;
$onSecondary: #442a26;
$secondaryContainer: #5d3f3b;
$onSecondaryContainer: #ffdad4;
$tertiary: #dfc38c;
$onTertiary: #3f2e04;
$tertiaryContainer: #574419;
$onTertiaryContainer: #fcdfa6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F0F;
$background: #130F0F;
$onBackground: #ede0de;
$surface: #211a19;
$onSurface: #ede0de;
$surfaceVariant: #534341;
$onSurfaceVariant: #d8c2bf;
$outline: #a08c89;
$shadow: #000000;
$inverseSurface: #ede0de;
$inverseOnSurface: #362f2e;
$inversePrimary: #a6382e;
